.card-body{
    font-size: 14px;
    font-weight: bold;
}

input.form-control{
    height: 30px;
    font-size: 13px;
}

input.form-control:focus{
    box-shadow: none;
    border-color: black;
}

.btn{
    padding: 2px 10px;
}

.already_signed{
    font-size: 13.5px;
    font-weight: normal;
}